<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

  <tbody>
    <% @recipes.each do |recipe| %>
      <div class="card text-center">
        <div class="card-header">
          <%= recipe.user.name %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= recipe.name %></h4>
          <p class="card-text"><%= recipe.method %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
