<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @recipe.user.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recipe.rating %>
</p>

<p>
  <strong>Recipe Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Method:</strong>
  <%= @recipe.method %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @recipe.comment %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
